@mixin text-header {
    font-size: 70px;
    font-weight: 700;
    color: white;
    padding-top: 190px;
    text-align: center;
    text-shadow: 10px 10px 10px #383838, 10px 10px 90px #000000;
    -webkit-animation: text-header 2s;
}