.bg_about-me {
    min-height: 900px;
    background-color: #d7dbdd;
}
.about-me {
    padding-top: 50px;
    min-height: 900px;
    box-shadow: 0px 0px 19px -13px black;
    background-color: #ffffff;
}