<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Репетитор
    link(rel="stylesheet", href="css/style.min.css")
  body
  header.bg-header
    div.blackout
      div.container  
        h1.header Вам нужен репетитор?




  script(src="js/script.js")

  

  

  