<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Репетитор
    link(rel="stylesheet", href="css/style.min.css")
  body
  header.bg-header
      div.container 
        div.phone 
          a(href="#").phne_link тел: 8(888)-888-88-88
          img(src="icons/phone.svg", alt="#").phone_img 
        h1.header Вам нужен репетитор?
        div.wrapper

  section.block-my
    div.bg_about-me
    div.bg_waite
    div.bg_about-me_revers
    div.container.about-me 
      div.about-me_wrap
        img(src="img/my-photo/6.jpg", alt="my-photo").my-photo
        h2.about-me_header Профессиональный репетитор <br><span class="span_header">Романова Ольга Михайловна.</span><br> Опыт работы более 20 лет.
        p.about-me_descr <span class="span">Какую работу я провожу:</span>подготовка к школе, русский и математика начальные и средние классы. <br>
        p.about-me_descr <span class="span">Какую работу я провожу:</span>развивающие занятия, развитие логического и обстрактного мышления, развития речи, перевод
          | русский речи на математический при решении задач, устранение пробелов, согласование программ при переход из школы в школу, подготовка к вступительным 
          | испытанием при поступлении в сильные школы, подготовка к олимпиадам по математике, подготовка к ГИА. Работа с учеником для лучшего усвоения материала.
    


  script(src="js/script.js")

  

  

  