<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Репетитор
    link(rel="shortcut icon", href="icons/favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="css/style.min.css")
  body
  header.bg-header
    div.section_overlay
      div.container 
        div.phone 
          a(href="#").phne_link тел: 8(888)-888-88-88
          img(src="icons/phone.png", alt="#").phone_img 
        h1.header Вам нужен репетитор?
        div.wrapper
        div.arrow-bottom 
          <svg id="more-arrows">
            <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
            <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
            <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
          </svg>

  section.block-my
    div.bg_about-me
    div.bg_waite
    div.bg_about-me_revers
    div.container.about-me 
      div.about-me_wrap
        img(src="img/my-photo/6.jpg", alt="my-photo").my-photo
        h2.about-me_header Профессиональный репетитор <br><span class="span_header">Романова Ольга Михайловна.</span><br> Опыт работы более 20 лет.
        span.span Моя специализация:
        p.about-me_descr  подготовка к школе, русский и математика начальные и средние классы.
        span.span Какую работу я провожу:    
        p.about-me_descr  развитие логического и абстрактного мышления, развитие речи, перевод 
          | русской речи на математический язык при решении задач, устранение пробелов, согласование программ при переходе из школы в школу, подготовка к экзаменам 
          | при поступлении в сильные школы, подготовка к олимпиадам по математике, подготовка к ГИА. Работа с учеником на опережение по программе для лучшего усвоения материала.
    div.teacher-match   
      div.container 
        h2.about-me_header Как мы строим работу
  section.descr-worck
    div.section_overlay
      div.container.bg-form
        form(action="#")
          input(name="name")(required)(placeholder="Ваше имя")(type="text") 
          input(name="phone")(required)(placeholder="Ваш телефон") 
          input(name="email")(required)(placeholder="Ваш E-mail")(type="email")
                 
  footer.footer-bg    


  script(src="js/script.js")

  

  

  