<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Репетитор
    link(rel="stylesheet", href="css/style.min.css")
  body
  header.bg-header
    div.phone 
      a(href="#").phne_link тел: 8(888)-888-88-88
        img(src="icons/phone.svg", alt="#").phone_img
    div.blackout
      div.container  
        h1.header Вам нужен репетитор?
  section.bg_about-me
    div.container.about-me



  script(src="js/script.js")

  

  

  