@media  (max-width: 1399px) {
    .container {
        width: 1320px;
    }
};

@media  (max-width: 1200px) {
    .container {
        width: 1140px;
    }
    .bg-header {
        min-height: 750px;
    }
    .phone .phne_link{
        font-size: 20px;
    }
    .header {
        font-size: 50px;
    }
    .span-header {
        font-size: 50px;
        line-height: 100px;
    }
    .wrapper {
        margin-top: 90px;
    }
    .subscr {
        font-size: 35px;
    }
    .bg_about-me,.bg_about-me_revers {
        min-height: 320px;
    }
    .bg_waite {
        height: 150px;
        background-image: linear-gradient(180deg,#fff 5%,#ffbe31 50%,#fff 95%);
    }
    .about-me {
        top: 9%;
        min-height: 70%;
    }
    .my-photo {
        width: 320px;
    }
    .span_header {
        font-size: 30px;
    }
    .about-me_header {
        font-size: 28px;
    }
    .about-me_descr {
        font-size: 22px;
    }
    .span {
        font-size: 28px;
    }
};

@media  (max-width: 992px) {
    .container {
        width: 960px;
        overflow: hidden;
    }
    .phone .phne_link {
        font-size: 19px;
    }
    .bg_about-me,.bg_about-me_revers {
        min-height: 320px;
    }
    .bg_waite {
        height: 150px;
        background-image: linear-gradient(180deg,#fff 5%,#ffbe31 50%,#fff 95%);
    }
    .about-me {
        width: 98%;
        top: 12%;
        min-height: 70%;
    }
    .my-photo {
        width: 315px;
        margin: 20px 20px 0 0;
    }
    .span_header {
        font-size: 28px;
    }
    .about-me_header {
        font-size: 26px;
    }
    .about-me_descr {
        font-size: 20px;
        padding: 0 0 0 20px;
    }
    .span {
        font-size: 26px;
        line-height: 50px;
        padding: 0 0 0 20px;
    }
}

@media  (max-width: 768px) {
    .container {
        width: 720px;
        overflow: hidden;
    }
    .phone {
        width: 35%;
    }
    .header {
        padding-top: 90px;
        font-size: 40px;
    }
    .span-header {
        font-size: 40px;
        line-height: 90px;
    }
    .about-me {
        top: 9%;
        min-height: 70%;
    }
    .bg_waite {
        height: 200px;
    }
    .bg_about-me,
    .bg_about-me_revers {
        height: 525px;
    }
    .about-me_wrap {
        display: flex;
        flex-direction: column;
    }
    .my-photo {
        margin: 20px auto;
    }
    .about-me_header,
    .about-me_descr,
    .about-me_descr {
        width: 85%;
        margin: 0 auto;
        padding: 0;
    }
}

@media  (max-width: 576px) {
    .container {
        width: 540px;
        overflow: hidden;
    }
    .bg-header {
        min-height: 660px;
    }
    .wrapper {
        margin-top: 70px;
    }
    .phone {
        width: 50%;
    }
    .phone_img {
        width: 40px;
        height: 40px;
    }
    .span-header,
    .subscr,
    .header  {
        font-size: 30px;
    }
    .about-me {
        top: 4%;
    }
}

@media  (max-width: 360px) {
    .container {
        width: 340px;
        overflow: hidden;
    }
    .phone {
        width: 75%;
    }
    .span-header,
    .subscr,
    .header  {
        font-size: 20px;
    }
    .about-me {
        top: 4%;
    }
    .bg_waite {
        height: 150px;
    }
    .bg_about-me,
    .bg_about-me_revers {
        height: 445px;
    }
    .my-photo {
        width: 300px;
    }
    .about-me_header,
    .span,
    .span_header {
        font-size: 18px;
    }
    .about-me_descr {
        font-size: 17px;
        line-height: 20px;
    }
}